* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}
#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#profile-card {
  background-color: rgb(44, 126, 219);
  color: white;
  width: 300px;
  padding: 20px;
  text-align: center;
  margin-bottom: 10px;
}

#counter {
  width: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

#buttons {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}

#buttons button {
  padding: 5px 10px;
  border: 0;
  outline: 0;
  background-color: black;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
#error {
  color: red;
}

#stopwatch {
  width: 300px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#stopwatch > * {
  margin: 10px;
}
#controlls button {
  margin: 0px 10px;
  padding: 2px;
}

#input-element {
  width: 350px;
  border: 1px solid black;
  padding: 20px;
}

#input-element > * {
  margin-top: 10px;
}
#input-element input {
  margin-right: 5px;
}
#input-element button {
  margin-right: 5px;
}
