@import 'tailwindcss';

img {
  max-width: 100%;
  height: auto;
  display: block;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 10px 30px;
  border: 1px solid black;
}

.logo {
  width: 100px;
}
.nav-item {
  display: flex;
  list-style-type: none;
}
.nav-item li {
  margin-left: 100px;
  font-size: 20px;
}

.body {
  margin-top: 10px;
  padding: 10px 30px;
}
.input-search {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.input-search input {
  border: 1px solid black;
  padding: 10px;
  border-radius: 3px;
  outline: 0;
}
.search-btn {
  color: white;
  background-color: black;
  font-size: 10px;
  padding: 5px 20px;
  border-radius: 5px;
  outline: 0;
  border: 0;
}
.top-btn {
  color: white;
  background-color: black;
  font-size: 10px;
  padding: 5px 20px;
  border-radius: 5px;
  outline: 0;
  border: 0;
  cursor: pointer;
}

.res-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
}

.card {
  padding: 5px;
  border: 1px solid gray;
}
.card img {
  width: 100%;
  height: 250px;
}
.card > * {
  margin-bottom: 10px;
}

.login-btn {
  cursor: pointer;
}

.resto {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.resto h1 {
  font-size: 60px;
}
.resto > * {
  margin-bottom: 20px;
}

.menu-ul {
  list-style-type: none;
}

.menu-ul li {
  margin-bottom: 15px;
}

.nav-links {
  text-decoration: none;
  color: black;
}

.res-links {
  text-decoration: none;
  color: black;
}

.promo {
  position: absolute;
  background-color: black;
  padding: 2px;
  color: white;
  border-radius: 5px;
}
